<section>
  <h1 class="line">Contactez-nous</h1>
  <p style="text-align:center; margin-bottom:40px;" class="text-secondary">
    Vous avez une question ou souhaitez rejoindre nos projets ? Envoyez-nous un message !
  </p>
  <form class="fade-in" id="contact-form">
    <label>Objet:</label>
    <input type="text" name="objet" placeholder="Votre objet" required>

    <label>Email:</label>
    <input type="email" name="email" placeholder="Votre email" required>

    <label>Message:</label>
    <textarea name="message" rows="6" placeholder="Votre message" required></textarea>

    <button type="submit">Envoyer</button>
  </form>
</section>

<script>
  const form = document.getElementById('contact-form');

  form.addEventListener('submit', function (e) {
    e.preventDefault(); // Empêche le rechargement de la page

    const objet = form.objet.value;
    const email = form.email.value;
    const message = form.message.value;

    const subject = encodeURIComponent(`${objet}`);
    const body = encodeURIComponent(`${message}`);

    const mailtoLink = `mailto:{{email}}?subject=${subject}&body=${body}`;

    window.location.href = mailtoLink;
  });
</script>